requests
git+https://github.com/LCBRU/lbrc_flask.git#egg=lbrc_flask
Flask
sqlalchemy
pymysql
elsapy
pandas
celery
celery[redis]
weasyprint
Flask-WeasyPrint
alembic
flask-security-too[fsqla,common]
pyalex
cachetools
unidecode
Faker