requests
-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
Flask
sqlalchemy-migrate
sqlalchemy==1.4.46
pymysql
elsapy
pandas
celery==5.0.0
celery[redis]
weasyprint<53.0
Flask-WeasyPrint
