{% extends "lbrc_flask/dialog.html" %}
{% import "lbrc_flask/errors.html" as errors %}
{% import "lbrc_flask/form_macros.html" as formhelper %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block errors %}
	{{ formhelper.render_form_errors(login_user_form)  }}
{% endblock %}

{% block content %}
<div class="form">
    <div>
        <img src="{{ url_for('lbrc_flask.static', filename='img/UoL-Logo-Full-Colour.png', ver=1) }}" alt="University of Leicester Login" style="height: 80px;">
    </div>

    <div>
        <p>
            Log in using a University of Leicester email address and password.
        </p>
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
        
            <div class="form-group input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </span>
                </span>
                {{ login_user_form.email(class="form-control", placeholder="UoL Email Address") }}
            </div>
        
            <div class="form-group input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </span>
                </span>
                {{ login_user_form.password(class="form-control", placeholder="UoL Password") }}
            </div>
        
            <div class="checkbox">
                <label>
                    {{ login_user_form.remember }} Remember me on this computer
                </label>
            </div>
        
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}