{% extends "lbrc/page_modal.html" %}
{% from "lbrc/form_macros.html" import render_field %}

{% block content %}
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        <fieldset>
            <img src="{{ url_for('lbrc_flask.static', filename='img/UoL-Logo-Full-Colour.png', ver=1) }}" alt="University of Leicester Login" style="height: 80px;">
            {{ login_user_form.hidden_tag() }}

            <p>Log in using a University of Leicester email address and password.</p>

            <div class="field icon email">
                {{ login_user_form.email(class="form-control", placeholder="Email Address") }}
            </div>

            <div class="field icon lock">
                {{ login_user_form.password(class="form-control", placeholder="Password") }}
            </div>

            {{ render_field(login_user_form.remember) }}

            <div class="button_bar">
                <button type="submit">Login</button>
            </div>
        </fieldset>
    </form>
{% endblock %}