{% from "ui/publication/_details.html" import render_publication_bar, render_publication_title, render_publication_authors, render_publication_details %}

{% macro render_folder_details(folder, details_selector, users) %}

    <div id="details_{{folder.id}}" class="tabbed_display" hx-target="#details_{{folder.id}}" hx-swap="outerHTML">

        <div class="tabbed_display_tabs {{detail_selector}}">
            {{ tabbed_display_tab(details_selector, 'users', 'Users', url_for('ui.folder_details', id=folder.id, detail_selector='users')) }}
            {{ tabbed_display_tab(details_selector, 'dois', 'DOIs', url_for('ui.folder_details', id=folder.id, detail_selector='dois')) }}
        </div>
        <div class="tabbed_display_content">
            {% if details_selector == 'users' %}
                {{ render_folder_users(folder, users) }}
            {% elif details_selector == 'dois' %}
                {{ render_folder_dois(folder) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_folder_users(folder, users) %}
    <div id="users_{{folder.id}}">
        {% if users | length > 0 and folder.owner == current_user %}
            <h5>Shared With</h5>
            {% for u in folder.shared_users | sort(attribute='full_name')%}
                <div class="btn-group mr-1 mb-1" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-user"></i> {{ u.full_name }}</button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                        <a class="dropdown-item" href="#" hx-post="{{url_for('ui.folder_remove_shared_user', id=folder.id, user_id=u.id)}}">Remove</a>
                    </div>
                </div>
            {% endfor %}

            {% if users | reject('in', folder.shared_users) | list | length > 0 %}
                <div class="btn-group mr-1 mb-1" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-user-plus"></i></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                        {% for u in users | reject('in', folder.shared_users) | sort(attribute='full_name') %}
                            <a class="dropdown-item" href="#" hx-post="{{url_for('ui.folder_add_shared_user', id=folder.id, user_id=u.id)}}">Share with '{{u.full_name}}'</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_folder_dois(folder) %}
    <ul class="panel_list">
        {% for d in folder.dois | sort(attribute='doi')%}
            <li>
                <header>
                    <a href="#" hx-post="{{url_for('ui.folder_delete_doi', id=folder.id, doi=d.doi)}}"><i class="fas fa-trash"></i></a>
                    <a href="http://doi.org/{{ d.doi }}" class="btn btn-primary" target="_blank" title="View publication">
                        <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#doi_logo" /></svg>
                        {{d.doi}}
                    </a>
                    <a href="https://www.scopus.com/results/results.uri?s=DOI({{ d.doi }})" class="btn" target="_blank" title="Search on Scopus ">
                        <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#scopus_logo" /></svg>
                        Search Scopus
                    </a>
                    {% if d.invalid_doi %}
                        <div class="badge badge-pill badge-danger">Invalid DOI</div>
                    {% endif %}
                    {% if not d.publication %}
                        <div class="badge badge-pill badge-warning">Publication Missing</div>
                    {% endif %}
                </header>
                          
                {% if d.publication %}
                    {{ render_publication_title(d.publication) }}

                    <div class="doi_folders">
                        <h3>Other Folders</h3>

                        {% for f in d.publication.folders | rejectattr("id", "eq", folder.id) %}
                            <div>{{f.name}}</div>
                        {% endfor %}
                    </div>

                    {{ render_publication_authors(d.publication, 'brc') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


{% macro tabbed_display_tab(selector, this_selector, name, url) %}
    <a class="{% if selector == this_selector %}selected{% endif %}"
        href="#" hx-get="{{ url }}">{{name}}</a>
{% endmacro %}
