{% from "lbrc/tabbed_display.html" import tabbed_display_tab with context %}
{% from "ui/publication/_details.html" import render_publication_bar, render_publication_title, render_publication_details %}
{% from "ui/_folder_dois.html" import render_publication_folders with context %}
{% from "ui/_publication_authors.html" import render_publication_authors with context %}


{% macro render_folder_details(folder, details_selector, users, folders) %}
    <div id="details_{{folder.id}}" class="tabbed_display" hx-target="#details_{{folder.id}}" hx-swap="outerHTML">

        <div class="tabbed_display_tabs {{detail_selector}}">
            {{ tabbed_display_tab(details_selector, 'users', 'Shared With', url_for('ui.folder_details', id=folder.id, detail_selector='users')) }}
            {{ tabbed_display_tab(details_selector, 'dois', 'DOIs', url_for('ui.folder_details', id=folder.id, detail_selector='dois')) }}
        </div>
        <div class="tabbed_display_content">
            {% if details_selector == 'users' %}
                {{ render_folder_users(folder, users) }}
            {% elif details_selector == 'dois' %}
                {{ render_folder_dois(folder, folders) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_folder_users(folder, users) %}
    <nav class="link_list">
        {% if users | length > 0 and folder.owner == current_user %}
            {% for u in folder.shared_users | sort(attribute='full_name')%}
                <div class="dropdown">
                    <a class="icon user" href="javascript:;" role="button">{{ u.full_name }}</a>
                    <ul>
                        <li><a href="javascript:;" hx-post="{{url_for('ui.folder_remove_shared_user', id=folder.id, user_id=u.id)}}">Remove</a></li>
                    </ul>
                </div>
            {% endfor %}

            {% if users | reject('in', folder.shared_users) | list | length > 0 %}
                <div class="dropdown">
                    <a class="icon user_add" href="javascript:;" role="button"></a>
                    <ul>
                        {% for u in users | reject('in', folder.shared_users) | sort(attribute='full_name') %}
                            <li><a href="javascript:;" hx-post="{{url_for('ui.folder_add_shared_user', id=folder.id, user_id=u.id)}}">Share with '{{u.full_name}}'</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </nav>
{% endmacro %}


{% macro render_folder_dois(folder, folders) %}
    <ul class="panel_list">
        {% for d in folder.dois | sort(attribute='doi')%}
            <li>
                <header class="flex_two_left_grow">
                    <nav class="link_list">
                        <a class="icon delete" href="javascript:;" hx-post="{{url_for('ui.folder_delete_publication', folder_id=folder.id, doi=d.doi)}}"></a>
                    </nav>
                    <nav class="link_list">
                        <a href="http://doi.org/{{ d.doi }}" target="_blank" title="View publication" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#doi_logo" /></svg>
                            {{d.doi}}
                        </a>
                        <a href="https://www.scopus.com/results/results.uri?s=DOI({{ d.doi }})" target="_blank" title="Search on Scopus" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#scopus_logo" /></svg>
                            Search Scopus
                        </a>
                        {% if d.invalid_doi %}
                            <div class="pill error">Invalid DOI</div>
                        {% endif %}
                        {% if not d.publication %}
                            <div class="pill warning">Publication Missing</div>
                        {% endif %}    
                    </nav>    
                </header>
                          
                {% if d.publication %}
                    {{ render_publication_title(d.publication) }}

                    <h4>Other Folders</h4>
                    {{ render_publication_folders(d.publication, folders) }}

                    {{ render_publication_authors(d.publication, 'brc') }}

                    <h5>Publication first imported {{ d.publication.created_date | date_format }}</h5>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
