{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block menu_page_content %}

<section class="container">
    <header>
        <h2>{{folder.name}} folder BRC Academics</h2>

        <form method="GET" action="{{ url_for('ui.folder_academics', folder_id=folder.id) }}">
            <fieldset>
                {{ search_form.hidden_tag() }}
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(academics, 'academics') }}

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>User</th>
                <th>Publications</th>
                <th>Relevant</th>
                <th>Not Relevant</th>
                <th>Unset</th>
            </tr>
        </thead>
        <tbody>
            {% for a in academics %}
                <tr>
                    <td>
                        <a class="icon publication" title="Show Publications" href="{{ url_for('ui.folder_publications', folder_id=folder.id, academic_id=a.id ) }}"></a>
                    </td>
                    <td>{{ a.full_name }}</td>
                    <td>
                        {% if a.user %}
                            {{ a.user.full_name }}
                        {% else %}
                            {% if current_user.has_role('editor') %}
                                <a title="Assign user to {{ a.full_name }}" hx-get="{{ url_for('ui.academic_user_search', academic_id=a.id) }}" hx-target="body" hx-swap="beforeend" href="javascript:;" class="icon user_add"></a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ a.folder_publication_count }}</td>
                    <td>{{ a.folder_relevant_count }}</td>
                    <td>{{ a.folder_not_relevant_count }}</td>
                    <td>{{ a.folder_unset_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{{ render_pagination(academics, 'ui.folder_academics', folder_id=folder.id, form=search_form) }}

{% endblock %}
