{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, pagination_summary %}
{% from "lbrc_flask/modal_macros.html" import render_edit_modal, render_delete_modal, render_url_modal %}
{% from "ui/folder/_details.html" import render_folder_details with context %}
{% from "ui/assets.html" import render_assets %}


{% block content %}
<section>
    {{ render_assets() }}

    <div class="page-header">
        <h1>Folders</h1>

        {{ render_search(
            search_form,
            'ui.folders',
            placeholder='enter search text - searches name',
            buttons=[
                {
                    'id': 'add_folder',
                    'text': 'Add',
                    'data-toggle': "modal",
                    'data-id': "",
                    'data-name': "",
                    'data-target': "#editFolderModal",
                },
            ],
        ) }}

    </div>

    {{ pagination_summary(folders, 'folder') }}

    <ul class="list-group">
        {% for f in folders.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <h3>{{f.name}}</h3>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a href="{{ url_for('ui.publications', folder_id=f.id ) }}" title="Publications in {{ f.name }}"><i class="far fa-newspaper"></i></a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a href="#" title="Upload Publication DOIs" hx-get="{{ url_for('ui.folder_upload_dois', id=f.id ) }}" hx-target="body" hx-swap="beforeend"><i class="fas fa-upload"></i></a>
                            </div>
                            {% if f.owner == current_user %}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a
                                        data-toggle="modal"
                                        data-id="{{ f.id }}"
                                        data-name="{{ f.name }}"
                                        title="Edit folder {{ f.name }}"
                                        data-target="#editFolderModal"
                                        href="#"><i class="fas fa-edit"></i></a>
                                </div>
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a
                                        data-toggle="modal"
                                        data-id="{{ f.id }}"
                                        data-name="{{ f.name }}"
                                        title="Delete folder {{ f.name }}"
                                        data-target="#deleteModal"
                                        href="#"><i class="fas fa-trash"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    {% if f.owner != current_user %}
                        <h5>Owned by {{f.owner.full_name}}</h4>
                    {% endif %}
                    <h4><a href="{{ url_for('ui.publications', folder_id=f.id ) }}">{{f.publication_count}} publication(s)</a></h4>
                </div>
                <div id="folder_users_{{f.id}}">
                    {{ render_folder_details(f, 'users', users, folders) }}
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(folders, 'ui.folders', form=search_form) }}

{{ render_edit_modal('editFolderModal', 'Folder Details', url_for('ui.folder_save', prev=request.full_path), edit_folder_form) }}
{{ render_delete_modal('deleteModal', 'Delete Folder', url_for('ui.folder_delete', prev=request.full_path), confirm_form) }}
{{ render_url_modal('source_details', 'Source Details') }}


{% endblock %}

{% block js %}
<script>htmx.logAll();</script>
{% endblock %}