{% from "ui/_folder_dois.html" import render_publication_folders with context %}
{% from "lbrc/tabbed_display.html" import tabbed_display_tab with context %}

{% macro render_publication_title(publication) %}

{% set cp = publication.best_catalog_publication %}

<div class="flex_two_left_grow">
    <h3>{{cp.title}}</h3>
    <h4>{{cp.journal.name | blank_if_none | title_case}} ({{cp.publication_cover_date | date_format}} {{cp.issue_volume | blank_if_none}} {{cp.pp | blank_if_none}})</h4>
</div>
{% endmacro %}


{% macro render_publication_bar(publication, current_user, nihr_acknowledgements) %}

{% set cp = publication.best_catalog_publication %}

{% set col = '#03A9F4' %}
{% if publication.nihr_acknowledgement.name | default_if_none('Unvalidated') == 'Unvalidated' %}
    {% set col = '#03A9F4' %}
{% else %}
    {% set col = publication.nihr_acknowledgement.colour %}
{% endif %}

<header class="flex_two_left_grow" id="publication_bar_{{publication.id}}" style="--_color: {{col}};" hx-target="#publication_bar_{{publication.id}}" hx-swap="outerHTML">
    <nav class="link_list">
        {% if publication.preprint %}
            {% set pp_cls = 'preprint' %}
            {% set pp_name = 'Preprint' %}
        {% else %}
            {% set pp_cls = 'not_preprint' %}
            {% set pp_name = 'Not Preprint' %}
        {% endif %}

        <div class="dropdown">
            <a href="javascript:;" class="{{ pp_cls }}" role="button">{{ pp_name }}</a>
            {% if current_user.has_role('validator') %}
                <ul>
                    <li><a href="javascript:;" hx-post="{{url_for('ui.publication_update_preprint', id=publication.id, is_preprint=1)}}">Preprint</a></li>
                    <li><a href="javascript:;" hx-post="{{url_for('ui.publication_update_preprint', id=publication.id, is_preprint=0)}}">Not Preprint</a></li>
                </ul>
            {% endif %}
        </div>

        <span>{{ cp.subtype.description | blank_if_none | title_case}}:</span>

        {% if cp.is_open_access %}
            <span class="open_access">Open Access</span>
        {% else%}
            <span class="closed_access">Closed Access</span>
        {% endif %}
    </nav>
    
    <nav class="link_list" style="--_button_background_color: {{col}}">
        <div class="dropdown">
            <a href="javascript:;" role="button">{{ publication.nihr_acknowledgement.name | default_if_none('Unvalidated') }}</a>
            {% if current_user.has_role('validator') %}
                <ul>
                    <li><a class="dropdown-item" href="javascript:;" hx-post="{{url_for('ui.publication_update_nihr_acknowledgement', id=publication.id, nihr_acknowledgement_id=0)}}">Unvalidated</a></li>
                    {% for n in nihr_acknowledgements %}
                        <li><a class="dropdown-item" href="javascript:;" hx-post="{{url_for('ui.publication_update_nihr_acknowledgement', id=publication.id, nihr_acknowledgement_id=n.id)}}">{{ n.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if cp.catalog %}
            <a href="{{ cp.href }}" target="_blank" title="View on {{ cp.catalog | title_case}}" role="button">
                {% if cp.catalog == 'scopus' %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1rem" height="1rem"><use href="#scopus_logo" /></svg> Scopus
                {% elif cp.catalog == 'open alex' %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1rem" height="1rem"><use href="#open_alex_logo" /></svg> Open Alex
                {% endif %}
            </a>
        {% endif %}

        {% if cp.doi %}
            <a href="http://doi.org/{{ publication.doi }}" target="_blank" title="View publication" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1rem" height="1rem"><use href="#doi_logo" /></svg>
                {{cp.doi}}
            </a>
            <a href="https://google.com/search?q={{ cp.doi }}" target="_blank" title="Google Publication" role="button"><i class="fab fa-google"></i></a>
        {% endif %}
    </div>
</header>
{% endmacro %}


{% macro render_publication_details(publication, details_selector, folders) %}
    {% set cp = publication.best_catalog_publication %}

    <div id="details_{{cp.publication_id}}" class="tabbed_display">

        <div class="tabbed_display_tabs {{detail_selector}}" hx-target="#details_{{cp.publication_id}}" hx-swap="outerHTML">
            {{ tabbed_display_tab(details_selector, 'funding', 'Funding Text', url_for('ui.publication_details', id=cp.publication_id, detail_selector='funding')) }}
            {{ tabbed_display_tab(details_selector, 'sponsors', 'Sponsors', url_for('ui.publication_details', id=cp.publication_id, detail_selector='sponsors')) }}
            {{ tabbed_display_tab(details_selector, 'affiliations', 'Affiliations', url_for('ui.publication_details', id=cp.publication_id, detail_selector='affiliations')) }}
            {{ tabbed_display_tab(details_selector, 'abstract', 'Abstract', url_for('ui.publication_details', id=cp.publication_id, detail_selector='abstract')) }}
            {{ tabbed_display_tab(details_selector, 'keywords', 'Keywords', url_for('ui.publication_details', id=cp.publication_id, detail_selector='keywords')) }}
            {{ tabbed_display_tab(details_selector, 'folders', 'Folders', url_for('ui.publication_details', id=cp.publication_id, detail_selector='folders')) }}
        </div>
        <div class="tabbed_display_content">
            {% if details_selector == 'funding' %}
                {{ cp.funding_text | blank_if_none | paragraphs }}
            {% elif details_selector == 'sponsors' %}
                <ul>
                    {% for s in cp.sponsors %}
                        <li class="{% if s.is_nihr %}list-group-item-success{% endif %}">{{ s.name }}</li>
                    {% endfor %}
                </ul>
            {% elif details_selector == 'affiliations' %}
                <ul>
                    {% for a in cp.affiliations  | sort(attribute='name')%}
                        <li class="{% if a.is_nihr %}list-group-item-success{% endif %}">{{ a.name }}</li>
                    {% endfor %}
                </ul>
            {% elif details_selector == 'abstract' %}
                {{cp.abstract | blank_if_none}}
            {% elif details_selector == 'keywords' %}
                {% for k in cp.keywords | sort(attribute='keyword')%}
                    <a href="{{ url_for('ui.publications', keywords=k.id ) }}" class="mr-1">{{ k.keyword }}</a>
                {% endfor %}
            {% elif details_selector == 'folders' %}
                {{ render_publication_folders(cp.publication, folders) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
