{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% from "ui/publication/_details.html" import render_publication_bar, render_publication_title, render_publication_details %}
{% from "ui/assets.html" import render_assets %}
{% from "ui/_publication_authors.html" import render_publication_authors with context %}


{% block menu_page_content %}

<section class="container">
    <header>
        <h2>Publications</h2>

        <form method="GET" action="{{ url_for('ui.publications') }}">
            <fieldset>
                {{ search_form.hidden_tag() }}
                {{ render_form_fields(search_form) }}
    
                <div class="button_bar" hx-target="body">
                    {% if current_user.has_role('editor') %}
                        <a class="icon add" href="javascript:;" title="Add Supplementary Publication" hx-get="{{ url_for('ui.catalog_publication_edit' ) }}" hx-target="body" hx-swap="beforeend" role="button">Add Publication</a>
                    {% endif %}
                    <button class="icon folder_add" formaction="{{ url_for('ui.publication_create_folder') }}" formmethod="post" title="Add Publications to Folder" type="submit">Add to Folder</button>

                    <div class="dropdown">
                        <a href="javascript:;" role="button">Export</a>
                        <ul>
                            <li><button class="icon pdf" formaction="{{ url_for('ui.publication_export_pdf') }}" formmethod="get" title="PDF" type="menu">PDF</button></li>
                            <li><button class="icon report" formaction="{{ url_for('ui.publication_full_annual_report_xlsx') }}" formmethod="get" title="Annual Report" type="menu">Annual Report</button></li>
                            <li><button class="icon download" formaction="{{ url_for('ui.publication_full_export_xlsx') }}" formmethod="get" title="Full Export" type="menu">Full Export</button></li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="panel_list">
        {{ render_assets() }}

        {% for p in publications.items %}
            <li>
                {{ render_publication_bar(p, current_user, nihr_acknowledgements) }}
                {{ render_publication_title(p) }}
                {{ render_publication_authors(p, 'brc') }}
                {{ render_publication_details(p, 'funding') }}
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.publications', form=search_form) }}

{% endblock %}
