{% extends "ui/pdf.html" %}
{% set title = "Publications by Academic" %}

{% block pdf_content %}
    {% for a, publications in academics.items() %}
    <section class="page">
        <header>
            <h2>Publications for {{a.full_name}}</h2>
            <p>
                Search filters:
                {% for k, v in parameters.items() %}
                    <span class="param_head">{{k}}</span>
                    <span class="param_data">{{v}}</span>
                {% endfor %}
            </p>
        </header>

        {% for p in publications %}
            <div class="publications">
                {% set bp = p.best_catalog_publication %}
                <h3>{{ bp.title }}</h3>
                <p class="vancouver">{{ p.vancouver | blank_if_none }}</p>
                <a href="http://doi.org/{{ p.doi }}" target="_blank" title="View publication">http://doi.org/{{p.doi}}</a>
            </div>
        {% endfor %}
    </section>
    {% endfor %}
{% endblock %}
