{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% from "ui/publication/_details.html" import render_publication_bar, render_publication_title, render_publication_details %}
{% from "ui/assets.html" import render_assets %}
{% from "ui/_publication_authors.html" import render_publication_authors with context %}


{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Validation</h2>
    </header>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="panel_list">
        {{ render_assets() }}

        {% for p in publications.items %}
            <li>
                {{ render_publication_bar(p, current_user, nihr_acknowledgements) }}
                <div>
                    {{ render_publication_title(p) }}
                    {{ render_publication_authors(p, 'brc') }}
                    {{ render_publication_details(p, 'funding') }}    
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.validation', form=search_form) }}

{% endblock %}
