{% macro render_publication_folders(publication, folders) %}
    <nav class="link_list" id="publication_{{publication.id}}_folders" hx-target="#publication_{{publication.id}}_folders" hx-swap="outerHTML">
        {% for f in publication.folders | sort(attribute='name')%}
            <div class="dropdown">
                <a href="javascript:;" class="icon folder" role="button">{{f.name}}</a>
                <ul>
                    <li><a href="{{ url_for('ui.publications', folder_id=f.id ) }}">View Publications in this folder</a></li>
                    <li><a href="javascript:;" hx-post="{{url_for('ui.publication_delete_folder', folder_id=f.id, doi=publication.doi)}}">Remove</a></li>
                </ul>
            </div>
        {% endfor %}
        <a class="icon add" href="javascript:;" hx-get="{{ url_for('ui.publication_folder_search', publication_id=publication.id) }}" hx-target="body" hx-swap="beforeend" role="button"></a>
    </nav>
{% endmacro %}

