{% macro render_publication_title(publication) %}

{% set cp = publication.best_catalog_publication %}

<div class="publication_title">
    <h3 class="main_title">{{cp.title}}</h3>
    <h4 class="subtitle">{{cp.journal.name | blank_if_none | title_case}} ({{cp.publication_cover_date | date_format}} {{cp.issue_volume | blank_if_none}} {{cp.pp | blank_if_none}})</h4>
</div>
{% endmacro %}


{% macro render_publication_bar(publication, current_user, nihr_acknowledgements) %}

{% set cp = publication.best_catalog_publication %}

{% set col = '#03A9F4' %}
{% if publication.nihr_acknowledgement.name | default_if_none('Unvalidated') == 'Unvalidated' %}
    {% set col = '#03A9F4' %}
{% else%}
    {% set col = publication.nihr_acknowledgement.colour %}
{% endif %}

<header id="publication_bar_{{publication.id}}" style="--_color: {{col}};" hx-target="#publication_bar_{{publication.id}}" hx-swap="outerHTML">
    <div class="publication_access">
        {% if current_user.has_role('validator') %}
            {% if publication.preprint %}
                {% set pp_cls = 'preprint' %}
                {% set pp_name = 'Preprint' %}
            {% else %}
                {% set pp_cls = 'not_preprint' %}
                {% set pp_name = 'Not Preprint' %}
            {% endif %}

            <button
                id="btnPreprint_{{publication.id}}"
                type="button"
                class="btn dropdown-toggle {{pp_cls}}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">{{pp_name}}</button>
            <div class="dropdown-menu" aria-labelledby="btnPreprint_{{publication.id}}">
                <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_update_preprint', id=publication.id, is_preprint=1)}}">Preprint</a>
                <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_update_preprint', id=publication.id, is_preprint=0)}}">Not Preprint</a>
            </div>
        {% else %}
            {% if publication.preprint %}
                <button id="btnPreprint_{{publication.id}}" type="button" class="btn preprint">Preprint</button>
            {% endif %}
        {% endif %}

        <span>{{ cp.subtype.description | blank_if_none | title_case}}:</span>

        {% if cp.is_open_access %}
            <span class="open_access">Open Access</span>
        {% else%}
            <span class="closed_access">Closed Access</span>
        {% endif %}
    </div>
    
    <div class="publication_links">
        {% if current_user.has_role('validator') %}
            <button
                id="btnGroupAcknowledgement_{{publication.id}}"
                type="button"
                class="btn dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                    {{ publication.nihr_acknowledgement.name | default_if_none('Unvalidated') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement_{{publication.id}}">
                <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_update_nihr_acknowledgement', id=publication.id, nihr_acknowledgement_id=0)}}">Unvalidated</a>
                {% for n in nihr_acknowledgements %}
                    <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_update_nihr_acknowledgement', id=publication.id, nihr_acknowledgement_id=n.id)}}">{{ n.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <button id="btnGroupAcknowledgement_{{publication.id}}" type="button" class="btn">
                    {{ publication.nihr_acknowledgement.name | default_if_none('Unvalidated') }}
            </button>
        {% endif %}

        {% if cp.catalog %}
            <a href="{{ cp.href }}" class="btn" target="_blank" title="View on {{ cp.catalog | title_case}} ">
                {% if cp.catalog == 'scopus' %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#scopus_logo" /></svg> Scopus
                {% elif cp.catalog == 'open alex' %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#open_alex_logo" /></svg> Open Alex
                {% endif %}
            </a>
        {% endif %}

        {% if cp.doi %}
            <a href="http://doi.org/{{ publication.doi }}" class="btn" target="_blank" title="View publication">
                <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#doi_logo" /></svg>
                {{cp.doi}}
            </a>
            <a href="https://google.com/search?q={{ cp.doi }}" class="btn btn-primary" target="_blank" title="Google Publication"><i class="fab fa-google"></i></a>
        {% endif %}
    </div>
</header>
{% endmacro %}


{% macro render_publication_authors(publication, author_selector) %}

    {% set cp = publication.best_catalog_publication %}

    <div id="authors_{{cp.publication_id}}" class="tabbed_display">

        <div class="tabbed_display_tabs {{author_selector}}" hx-target="#authors_{{cp.publication_id}}" hx-swap="outerHTML">
            {{ tabbed_display_tab(author_selector, 'brc', 'BRC Authors', url_for('ui.publication_authors', id=cp.publication_id, author_selector='brc')) }}
            {{ tabbed_display_tab(author_selector, 'all', 'All Authors', url_for('ui.publication_authors', id=cp.publication_id, author_selector='all')) }}
            <span>{{cp.author_count}} author(s)</span>
        </div>
        <div class="tabbed_display_content author_list">
            {% for cps in cp.catalog_publication_sources %}
                {% if cps.source.is_academic or author_selector == 'all' %}
                    {{ _render_publication_author(cps) }}
                {% endif %}
            {% endfor%}
        </div>

        {% if cp.all_academics_left_brc %}
            <div class="text-danger">All authors have left the BRC</div>
        {% endif %}
    </div>
{% endmacro %}


{% macro tabbed_display_tab(selector, this_selector, name, url) %}
    <a class="{% if selector == this_selector %}selected{% endif %}"
        href="#" hx-get="{{ url }}">{{name}}</a>
{% endmacro %}


{% macro _render_publication_author(cps) %}
    {% set author = cps.source %}
    {% set cls = 'not_academic' %}

    {% if author.has_left_brc %}
        {% set cls = 'left_brc' %}
    {% elif author.is_academic %}
        {% set cls = 'is_academic' %}
    {% endif %}

    <a class="{{cls}}"
        data-toggle="modal"
        data-id="{{ author.id }}"
        data-name="{{ author.display_name }}"
        data-modal-content-url="{{ url_for('ui.source_details', id=author.id, prev=request.full_path) }}",
        title="View author {{ author.display_name }}"
        data-title="Author Details for {{ author.display_name }}"
        data-target="#source_details"
        href="#"><span class="author_list_ordinal">{{ cps.ordinal + 1 }}</span><span>{{ author.display_name }}</span></a>
{% endmacro %}


{% macro render_publication_details(publication, details_selector, folders) %}


    {% set cp = publication.best_catalog_publication %}

    <div id="details_{{cp.publication_id}}" class="tabbed_display">

        <div class="tabbed_display_tabs {{detail_selector}}" hx-target="#details_{{cp.publication_id}}" hx-swap="outerHTML">
            {{ tabbed_display_tab(details_selector, 'funding', 'Funding Text', url_for('ui.publication_details', id=cp.publication_id, detail_selector='funding')) }}
            {{ tabbed_display_tab(details_selector, 'sponsors', 'Sponsors', url_for('ui.publication_details', id=cp.publication_id, detail_selector='sponsors')) }}
            {{ tabbed_display_tab(details_selector, 'affiliations', 'Affiliations', url_for('ui.publication_details', id=cp.publication_id, detail_selector='affiliations')) }}
            {{ tabbed_display_tab(details_selector, 'abstract', 'Abstract', url_for('ui.publication_details', id=cp.publication_id, detail_selector='abstract')) }}
            {{ tabbed_display_tab(details_selector, 'keywords', 'Keywords', url_for('ui.publication_details', id=cp.publication_id, detail_selector='keywords')) }}
            {{ tabbed_display_tab(details_selector, 'folders', 'Folders', url_for('ui.publication_details', id=cp.publication_id, detail_selector='folders')) }}
        </div>
        <div class="tabbed_display_content">
            {% if details_selector == 'funding' %}
                {{ cp.funding_text | blank_if_none | paragraphs }}
            {% elif details_selector == 'sponsors' %}
                <ul class="list-group">
                    {% for s in cp.sponsors %}
                        <li class="list-group-item {% if s.is_nihr %} list-group-item-success{% endif %}">{{ s.name }}</li>
                    {% endfor %}
                </ul>
            {% elif details_selector == 'affiliations' %}
                <ul class="list-group">
                    {% for a in cp.affiliations  | sort(attribute='name')%}
                        <li class="list-group-item {% if a.is_nihr %} list-group-item-success{% endif %}">{{ a.name }}</li>
                    {% endfor %}
                </ul>
            {% elif details_selector == 'abstract' %}
                {{cp.abstract | blank_if_none}}
            {% elif details_selector == 'keywords' %}
                {% for k in cp.keywords | sort(attribute='keyword')%}
                    <a href="{{ url_for('ui.publications', keywords=k.id ) }}" class="mr-1">{{ k.keyword }}</a>
                {% endfor %}
            {% elif details_selector == 'folders' %}
                {{ _render_publication_folders(cp.publication, folders) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro _render_publication_folders(publication, folders) %}
    <div hx-target="#details_{{publication.id}}" hx-swap="outerHTML">
        {% for f in publication.folders | sort(attribute='name')%}
            <div class="btn-group mr-1 mb-1" role="group">
                <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-folder"></i> {{ f.name }}</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                    <a class="dropdown-item" href="{{ url_for('ui.publications', folder_id=f.id ) }}">View Publications in this folder</a>
                    <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_remove_folder', id=publication.id, folder_id=f.id)}}">Remove</a>
                </div>
            </div>
        {% endfor %}

        {% if folders | reject('in', publication.folders) | list | length > 0 %}
            <div class="btn-group mr-1 mb-1" role="group">
                <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-folder-plus"></i></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement"  >
                    {% for f in folders | reject('in', publication.folders) | sort(attribute='name') %}
                        <a class="dropdown-item" href="#" hx-post="{{url_for('ui.publication_add_folder', id=publication.id, folder_id=f.id)}}">{{ f.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}
