{% extends "ui/page.html" %}
{% import "lbrc_flask/form_macros.html" as formhelper %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-8">
        <div class="card study-card">
            <div class="card-header">
                <div class="float-right">
                    <a class="fas fa-question-circle" data-toggle="modal" data-target="#help_modal" data-title="Participant File Format" data-text="{{ column_help_text() }}"></a>
                </div>
                <div>Edit Academic</div>
            </div>
    
            <div class="card-body">
    
                <form id="edit" action="{{ url_for('ui.academic', id=academic.id) }}" method="POST" class="form panel-body" enctype="multipart/form-data">
                    <fieldset>
                        {{ form.hidden_tag() }}
    
                        {% for f in form %}
                            {{ formhelper.render_field(f) }}
                        {% endfor %}
    
                        {{ formhelper.render_button_bar('ui.index', submit_label="Save") }}
                    </fieldset>                   
                </form>
            </div>
        </div>            
    </div>
</div>

{% endblock %}
