{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar, pagination_summary, render_field %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}


{% block content %}
<section>
    <div class="page-header">
        <h1>Folders</h1>

        {{ render_search(
            search_form,
            'ui.folders',
            placeholder='enter search text - searches name',
            buttons=[
                {
                    'id': 'add_folder',
                    'text': 'Add',
                },
            ],
        ) }}

    </div>

    {{ pagination_summary(folders, 'folder') }}

    <ul class="list-group">
        {% for f in folders.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <h3>{{f.name}}</h3>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a
                                    data-toggle="modal"
                                    data-id="{{ f.id }}"
                                    data-name="{{ f.name }}"
                                    title="Edit folder {{ f.name }}"
                                    data-target="#editFolderModal"
                                    href="#"><i class="fas fa-edit"></i></a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a
                                data-toggle="modal"
                                data-id="{{ f.id }}"
                                data-name="{{ f.name }}"
                                title="Delete folder {{ f.name }}"
                                data-target="#deleteModal"
                                href="#"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(folders, 'ui.folders', form=search_form) }}

{% call render_modal('editFolderModal', 'Folder Details') %}
    <form  action="{{ url_for('ui.folder_save') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ edit_folder_form.hidden_tag() }}

            {% for f in edit_folder_form %}
                {{ render_field(f) }}
            {% endfor %}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </fieldset>
    </form>
{% endcall %}

{% call render_modal('deleteModal', 'Delete Folder') %}
    <p id="modal_description">Please confirm that you wish to delete the folder '<span id="name"></span>'.</p>
    <form action="{{ url_for('ui.folder_delete') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ confirm_form.hidden_tag() }}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </fieldset>
    </form>
{% endcall %}

{% endblock %}

{% block js %}

<script>
    $(document).ready(function(){
        $('#add_folder').click(function (event) {
            event.preventDefault();

            modal = $('#editFolderModal')
            modal.modal('show');

            return false;
        });

        $('#editFolderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            modal.find('#name').val(button.data('name'));
            modal.find("#id").val(button.data('id'));
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            modal.find('#name').text(button.data('name'));
            modal.find("#id").val(button.data('id'));
        });

    });
</script>

{% endblock %}