{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Academics</h1>

        {{ render_search(
            search_form,
            'ui.index',
            placeholder='enter search text - searches names',
            buttons=[
                {
                    'text': 'Add Author',
                    'endpoint': 'ui.add_author_search',
                },
                {
                    'text': 'Update All',
                    'endpoint': 'ui.update_all_academics',
                },
            ],
        ) }}

    </div>

    <ul class="list-group">
        {% for a in academics.items %}
            <li class="list-group-item">
                <div class='summary_details row'>
                    <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                            <header>
                                <h1>{{a.full_name}}</h1>
                            </header>
                        </div>
                        <table class="table table-sm">
                            <tr>
                                <th>Author</th>
                                <th>Publications</th>
                                <th>Citations</th>
                                <th>h-index</th>
                            </tr>
                            {% for au in a.scopus_authors %}
                                <tr>
                                    <td>
                                        <div>{{au.full_name}}</div>
                                        <div><small class="text-muted">{{au.affiliation_name}}</small></div>
                                    </td>
                                    <td>{{au.document_count}}</td>
                                    <td>{{au.citation_count}}</td>
                                    <td>{{au.h_index}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(academics, 'ui.index', form=search_form) }}

{% endblock %}