{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar, pagination_summary %}
{% from "lbrc_flask/modal_macros.html" import render_delete_modal, render_confirmation_modal %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Academics</h1>

        {{ render_search(
            search_form,
            'ui.index',
            placeholder='enter search text - searches names',
            buttons=[
                {
                    'text': 'Add Author',
                    'endpoint': 'ui.add_author_search',
                },
            ],
        ) }}

    </div>

    {{ pagination_summary(academics, 'academic') }}

    <ul class="list-group">
        {% for a in academics.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <div>
                            <header>
                                <h1>
                                    <span>{{a.full_name}}</span>
                                </h1>
                                <h2>{{a.theme.name}}</h2>
                            </header>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right" role="toolbar">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a class="academic_edit"
                                    title="Edit academic {{ a.full_name }}"
                                    href="{{ url_for('ui.academic_edit', id=a.id) }}"><i class="fas fa-edit"></i></a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a class="academic_delete"
                                    data-toggle="modal"
                                    data-id="{{ a.id }}"
                                    data-name="{{ a.full_name }}"
                                    title="Delete academic {{ a.full_name }}"
                                    data-target="#deleteAcademicModal"
                                    href="#"><i class="fas fa-trash"></i></a>
                            </div>
                            {% if current_user.is_admin %}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a class="academic_update"
                                        data-toggle="modal"
                                        data-id="{{ a.id }}"
                                        data-name="{{ a.full_name }}"
                                        title="Update academic {{ a.full_name }}"
                                        data-target="#updateAcademicModal"
                                        href="#"><i class="fas fa-redo"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm">
                            <colgroup>
                                <col style="width:35%">
                                <col style="width:20%">
                                <col style="width:15%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>ORCID</th>
                                    <th>Publications</th>
                                    <th>Citations</th>
                                    <th>h-index</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for au in a.scopus_authors %}
                                    <tr>
                                        <td>
                                            <div>
                                                <a class="author_delete"
                                                    data-toggle="modal"
                                                    data-id="{{ au.id }}"
                                                    data-name="{{ au.full_name }}"
                                                    title="Delete author {{ au.full_name }} from academic {{ a.full_name }}"
                                                    data-target="#deleteAuthorModal"
                                                    href="#"><i class="fas fa-trash"></i></a>    
                                                <a href="{{ au.href }}" target="_blank">{{au.full_name}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            {% if au.orcid | blank_if_none | length > 0 %}
                                                <a href="{{au.orcid_link}}" target="_blank">{{au.orcid}}</a>
                                            {% else %}
                                                <a href="https://orcid.org/register" target="_blank">register</a>
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ url_for('ui.publications', author_id=au.id ) }}">{{au.document_count}}</a></td>
                                        <td>{{au.citation_count}}</td>
                                        <td>{{au.h_index}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="small">
                                            {% if au.last_fetched_datetime %}
                                                <div><span class="font-italic float-right">Last fetched from Scopus {{ au.last_fetched_datetime | datetime_humanize }}</span></div>
                                            {% endif %}
                                            <div><span class="text-muted">{{au.affiliation_name}}</span></div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(academics, 'ui.index', form=search_form) }}

{{ render_delete_modal('deleteAcademicModal', 'Delete Academic', url_for('ui.delete_academic', prev=request.full_path), confirm_form) }}
{{ render_delete_modal('deleteAuthorModal', 'Delete Author', url_for('ui.delete_author', prev=request.full_path), confirm_form) }}
{{ render_confirmation_modal('updateAcademicModal', 'Update Academic', url_for('ui.update_academic', prev=request.full_path), confirm_form, 'Please confirm that you want to update') }}

{% endblock %}
