{% extends "lbrc/page.html" %}

{% block page_css %}
    <link href="{{ url_for('static', filename='css/app.css', ver=5) }}" rel="stylesheet">
{% endblock %}


{% block page_content %}
  <nav class="main_menu">
    <div class="container">
      <menu>
        <li><a href="{{url_for('ui.index')}}">Home</a></li>
        <li><a href="{{url_for('ui.publications')}}" class="icon publication">Publications</a></li>

        {% if current_user.has_role('validator') %}
            <li><a href="{{url_for('ui.validation')}}" class="icon check_circle">Validation</a></li>
        {% endif %}

        <li><a href="{{url_for('ui.folders')}}" class="icon folder">Folders</a></li>
        <li><a href="{{url_for('ui.groups')}}" class="icon folder">Groups</a></li>

        {% if current_user.is_admin %}
            <li><a href="{{url_for('ui.objectives')}}" class="icon check_list">Objectives</a></li>
        {% endif %}

        {% if current_user.has_role('editor') %}
            <li><a href="{{url_for('ui.journals')}}" class="icon book">Journals</a></li>
        {% endif %}

        <li>
          <a class="icon download">Downloads</a>
          <menu>
            <li><a href="{{url_for('ui.academics_export_csv')}}" class="icon academic">Academic Contact List</a></li>
            <li><a href="{{url_for('ui.reports')}}" class="icon report">Reports</a></li>
          </menu>
        </li>
      </menu>
      <menu>
        {% if current_user.is_admin %}
          <li>
                <a>Admin</a>
                <menu>
                    <li><a href="{{url_for('admin.index')}}">Maintenance</a></li>
                    {% if not updating %}
                        <li><a href="javascript:;" hx-get="{{url_for('ui.update_all_academics')}}" class="icon refresh">Update All</a></li>
                    {% endif %}
                    <li><a href="javascript:;" hx-get="{{url_for('ui.auto_fill_folders')}}" class="icon folder_open">Fill Folders</a></li>
                    <li><a href="javascript:;" hx-get="{{url_for('ui.run_outstanding_jobs')}}" class="icon play">Run Outstanding Jobs</a></li>
                    <li><a href="javascript:;" hx-get="{{url_for('ui.redo_publication_statuses')}}" class="icon redo">Re-Guess Publication Status</a></li>
                    <li><a href="javascript:;" hx-get="{{url_for('ui.refresh_institutions')}}" class="icon refresh">Refresh Institutions</a></li>
                    <li><a href="javascript:;" hx-get="{{url_for('ui.manaual_catalog_publications_find_scopus')}}" class="icon hand">Refresh Manual Publications</a></li>
                </menu>
            </li>
        {% endif %}
        <li>
            <a>{{ current_user.full_name }}</a>
            <menu>
              {% if not current_user.ldap_user %}
                <li><a href="{{ url_for_security('change_password') }}">Change Password</a></li>
              {% endif %}
            <li><a href="{{ url_for_security('logout') }}">Log Out</a></li>
            </menu>
        </li>
      </menu>
    </div>
  </nav>

  <div clas="container">
    <div hx-get="{{ url_for('ui.is_updating') }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="outerHTML"></div>
  </div>

  {% block menu_page_content %}{% endblock %}

{% endblock %}
