{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, pagination_summary %}
{% from "lbrc_flask/modal_macros.html" import render_edit_modal, render_delete_modal %}


{% block content %}
<section>
    <div class="page-header">
        <h1>Objectives</h1>

        {{ render_search(
            search_form,
            'ui.objectives',
            placeholder='enter search text - searches name',
            buttons=[
                {
                    'id': 'add_objective',
                    'text': 'Add',
                    'data-toggle': "modal",
                    'data-id': "",
                    'data-name': "",
                    'data-theme_id': search_form.get_theme_id(),
                    'data-target': "#editObjectiveModal",
                },
            ],
        ) }}

    </div>

    {{ pagination_summary(objectives, 'objective') }}

    <ul class="list-group">
        {% for o in objectives.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <h3>{{o.name}}</h3>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a
                                    data-toggle="modal"
                                    data-objective_id="{{ o.id }}"
                                    title="Edit evidence {{ o.name }}"
                                    data-target="#editEvidenceModal"
                                    href="#"><i class="fas fa-plus"></i></a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a
                                    data-toggle="modal"
                                    data-id="{{ o.id }}"
                                    data-name="{{ o.name }}"
                                    title="Edit obejctive {{ o.name }}"
                                    data-target="#editObjectiveModal"
                                    data-theme_id="{{o.theme_id}}"
                                    href="#"><i class="fas fa-edit"></i></a>
                            </div>
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a
                                    data-toggle="modal"
                                    data-id="{{ o.id }}"
                                    data-name="{{ o.name }}"
                                    title="Delete objective {{ o.name }}"
                                    data-target="#deleteObjectiveModal"
                                    href="#"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% for e in o.evidences %}
                    <div class="row">
                        <div class="col-2">
                            <div class="btn-toolbar float-right">
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a
                                        data-toggle="modal"
                                        data-id="{{ e.id }}"
                                        data-notes="{{ e.notes }}"
                                        title="Edit evidence"
                                        data-target="#editEvidenceModal"
                                        data-objective_id="{{e.objective_id}}"
                                        href="#"><i class="fas fa-edit"></i></a>
                                </div>
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a
                                        data-toggle="modal"
                                        data-id="{{ e.id }}"
                                        data-name="{{ e.notes }}"
                                        title="Delete evidence"
                                        data-target="#deleteEvidenceModal"
                                        href="#"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h3>{{e.type | title}}: {{e.notes}}</h3>
                            <h4>{{ e.created_date | date_format }}</h4>
                        </div>
                    </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(objectives, 'ui.objectives', form=search_form) }}

{{ render_edit_modal('editObjectiveModal', 'Objective Details', url_for('ui.objective_save', prev=request.full_path), edit_objective_form) }}
{{ render_edit_modal('editEvidenceModal', 'Evidence Details', url_for('ui.evidence_save', prev=request.full_path), edit_evidence_form) }}
{{ render_delete_modal('deleteObjectiveModal', 'Delete Objective', url_for('ui.objective_delete', prev=request.full_path), confirm_form) }}
{{ render_delete_modal('deleteEvidenceModal', 'Delete Objective', url_for('ui.evidence_delete', prev=request.full_path), confirm_form) }}

{% endblock %}

{% block js %}

<script>
    document.getElementById('theme_id').onchange = function(){this.form.submit()};
</script>

{% endblock %}