{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}


{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Objectives</h2>

        <form method="GET" action="{{ url_for('ui.objectives') }}">
            <fieldset class="columns">
                {{ search_form.hidden_tag() }}
                {{ render_form_fields(search_form) }}
    
                <div class="button_bar" hx-target="body">
                    <a class="icon add" href="javascript:;" hx-get="{{ url_for('ui.objective_edit') }}" hx-target="body" hx-swap="beforeend" title="Add Objective" role="button">Add Objective</a>
                </div>    
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(objectives, 'objective') }}

    <ul class="panel_list">
        {% for o in objectives.items %}
            <li>
                <header class='flex_two_left_grow'>
                    <h3>{{o.name}}</h3>
                    <nav class="link_list">
                        <a class="icon edit" href="javascript:;" hx-get="{{ url_for('ui.objective_edit', id=o.id ) }}" hx-target="body" hx-swap="beforeend" title="Edit {{ o.name }}"></a>
                        <a class="icon delete" href="javascript:;" title="Delete {{o.name}}" hx-post="{{ url_for('ui.objective_delete', id=o.id ) }}" hx-confirm="Are you sure you want to delete {{o.name}}"></a>
                    </nav>
                </header>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(objectives, 'ui.objectives', form=search_form) }}

{% endblock %}
