{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/nav_macros.html" import render_nav_item with context %}

{% block navlinks %}
    {{ render_nav_item('ui.publications', 'Publications', 'far fa-newspaper') }}

    {% if current_user.has_role('validator') %}
        {{ render_nav_item('ui.validation', 'Validation', 'far fa-check-circle') }}
    {% endif %}

    {{ render_nav_item('ui.folders', 'Folders', 'fas fa-folder') }}

    {% if updating %}
        <div class="badge rounded-pill bg-warning text-dark fixed-top">Fetching data from Scopus <span class="inline_loader"></span></div>
    {% endif %}
{% endblock %}