{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/nav_macros.html" import render_nav_item with context %}
{% from "lbrc_flask/nav_macros.html" import render_nav_link %}

{% block navlinks %}
    {{ render_nav_item('ui.publications', 'Publications', 'far fa-newspaper') }}

    {% if current_user.has_role('validator') %}
        {{ render_nav_item('ui.validation', 'Validation', 'far fa-check-circle') }}
    {% endif %}

    {{ render_nav_item('ui.folders', 'Folders', 'fas fa-folder') }}
    {{ render_nav_item('ui.objectives', 'Objectives', 'fas fa-tasks') }}
    {{ render_nav_item('ui.reports', 'Reports', 'fas fa-toilet-paper') }}

    {% if updating %}
        <div class="badge rounded-pill bg-warning text-dark fixed-top">Fetching data from Scopus <span class="inline_loader"></span></div>
    {% endif %}
{% endblock %}

{% block adminlinks %}
    {% if not updating %}
        {{ render_nav_link('ui.update_all_academics', 'Update All', icon='fas fa-recycle') }}
    {% endif %}
    {{ render_nav_link('ui.publication_auto_validate', 'Auto-validate', icon='far fa-check-circle') }}
{% endblock %}

{% block page_js %}

<script>
    async function nihr_acknowledgement() {
        var button = $(window.event.target);

        let response = await fetch("{{ url_for('ui.publication_nihr_acknowledgement') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                id: button.data('id'),
                nihr_acknowledgement_id: button.data('nihr_acknowledgement_id'),
            }),
        })
        let data = await response.json();
        b = document.getElementById(`btnGroupAcknowledgement_${button.data('id')}`)
        b.innerHTML = data['status'];

        if (data['status'] == 'Unknown') {
            b.classList.remove("btn-info")
            b.classList.add("btn-primary")
        } else {
            b.classList.remove("btn-primary")
            b.classList.add("btn-info")
        }
    }

</script>
{% endblock %}