{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/nav_macros.html" import render_nav_item with context %}
{% from "lbrc_flask/nav_macros.html" import render_nav_link, render_dropdown_item %}

{% block base_css %}
    <link href="{{ url_for('static', filename='css/app.css', ver=4) }}" rel="stylesheet">
{% endblock %}

{% block navlinks %}
    {{ render_nav_item('ui.publications', 'Publications', 'far fa-newspaper') }}

    {% if current_user.has_role('validator') %}
        {{ render_nav_item('ui.validation', 'Validation', 'far fa-check-circle') }}
    {% endif %}

    {{ render_nav_item('ui.folders', 'Folders', 'fas fa-folder') }}

    {% if current_user.is_admin %}
        {{ render_nav_item('ui.objectives', 'Objectives', 'fas fa-tasks') }}
    {% endif %}

    {% if current_user.is_admin %}
        {{ render_nav_item('ui.journals', 'Journals', 'fas fa-book') }}
    {% endif %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-download"></i> Downloads</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ render_dropdown_item('ui.academics_export_csv', 'Academic Contact List', icon='fas fa-user-graduate') }}
            {{ render_dropdown_item('ui.reports', 'Reports', icon='fas fa-toilet-paper') }}
        </div>
    </li>

    {% if updating %}
        <div class="badge rounded-pill bg-warning text-dark fixed-top">Fetching data from Scopus</div>
    {% endif %}
{% endblock %}

{% block adminlinks %}
    {% if not updating %}
        {{ render_dropdown_item('ui.update_all_academics', 'Update All', icon='fas fa-recycle') }}
    {% endif %}
    {{ render_dropdown_item('ui.trigger_refresh', 'Refresh', icon='fas fa-fish') }}
{% endblock %}
