{% extends "lbrc/modal.html" %}

{% block content %}
<h2>Assign Potential Sources for {{academic.full_name}}</h2>

<table hx-get="{{ url_for('ui.academics_potential_sources', id=academic.id) }}" hx-trigger="refreshModal from:body" hx-target="closest .modal" hx-swap="innerHTML">
    <colgroup>
        <col style="width:50%">
        <col style="width:20%">
        <col style="width:30%">
    </colgroup>
    <thead>
        <tr>
            <th>Author</th>
            <th>Source</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ps in academic.potential_sources %}
            <tr>
                <td>
                    <div>
                        {% if ps.source.author_url %}
                            <a href="{{ ps.source.author_url }}" target="_blank">{{ps.source.display_name}}</a>
                        {% else %}
                            {{ps.source.display_name}}
                        {% endif %}
                    </div>
                    {% if ps.source.affiliation %}
                        <address>
                            {{ps.source.affiliation.summary | br}}
                        </address>
                    {% endif %}
                </td>
                <td>{{ ps.source.catalog | title }}</td>
                <td>
                    <div class="dropdown">
                        <span>{{ ps.status }}</span>
                        <ul>
                            {% if ps.can_unassign %}
                                <li><a hx-post="{{ url_for('ui.academics_amend_potential_sources', id=ps.id, academic_id=academic.id, status='unassigned') }}">Unassigned</a></li>
                            {% endif %}
                            {% if ps.can_no_match %}
                                <li><a hx-post="{{ url_for('ui.academics_amend_potential_sources', id=ps.id, academic_id=academic.id, status='no match') }}">No Match</a></li>
                            {% endif %}
                            {% if ps.can_match %}
                                <li><a hx-post="{{ url_for('ui.academics_amend_potential_sources', id=ps.id, academic_id=academic.id, status='match') }}">Match</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


