{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar, pagination_summary, render_field %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Publications</h1>

        {{ render_search(
            search_form,
            'ui.publications',
            placeholder='enter search text - searches title and publication',
            buttons=[
                {
                    'id': 'export',
                    'text': 'Excel',
                    'endpoint': 'ui.publication_export_xlsx',
                    'add_form_fields': True,
                },
                {
                    'id': 'export',
                    'text': 'PDF',
                    'endpoint': 'ui.publication_export_pdf',
                    'add_form_fields': True,
                },
            ],
        ) }}

    </div>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="list-group">
        {% for p in publications.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <h3>{{p.title}}</h3>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a href="{{ p.href }}" class="btn btn-primary" target="_blank" title="View on Scopus"><i class="fas fa-external-link-square-alt"></i></a>
                            </div>

                            {% if p.doi %}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a href="http://doi.org/{{ p.doi }}" class="btn btn-primary" target="_blank" title="View publication"><i class="fas fa-file-alt"></i></a>
                                </div>
                            {% endif %}

                            <div class="btn-group mr-1 mb-1" role="group">
                            </div>

                            <div class="btn-group mr-1 mb-1" role="group">
                                <button id="btnGroupAcknowledgement" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ p.acknowledgement_status_name | default_if_none('Unknown') }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                                    <a class="dropdown-item" href="#" onclick="publication_acknowledgement_validation()" data-id="{{p.id}}" data-status="{{ p.ACKNOWLEDGEMENT_UNKNOWN }}">Unknown</a>
                                    <a class="dropdown-item" href="#" onclick="publication_acknowledgement_validation()" data-id="{{p.id}}" data-status="{{ p.ACKNOWLEDGEMENT_ACKNOWLEDGED }}">Acknowledged</a>
                                    <a class="dropdown-item" href="#" onclick="publication_acknowledgement_validation()" data-id="{{p.id}}" data-status="{{ p.ACKNOWLEDGEMENT_NOT_ACKNOWLEDGED }}">Not Acknowledged</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>{{p.author_list | blank_if_none}}</h4>
                    <h5><a href="{{ url_for('ui.publications', journal_id=p.journal_id ) }}">{{p.journal.name | blank_if_none | title_case}}</a> ({{p.publication_cover_date | date_format}}{{p.issue_volume}}{{p.pp}})</h5>
 
                    <p>{{p.abstract | blank_if_none}}</p>

                    {% if p.keywords | length > 0 %}
                        <h5>Keywords</h5>
                        <div>
                            {% for k in p.keywords | sort(attribute='keyword')%}
                                <a href="{{ url_for('ui.publications', keywords=k.id ) }}" class="mr-1"><i class="fas fa-key"></i> {{ k.keyword }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if folders | length > 0 %}
                        <div>
                            <h5>Folders</h5>
                            {% for f in p.folders | sort(attribute='name')%}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-folder"></i> {{ f.name }}</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                                        <a class="dropdown-item" href="{{ url_for('ui.publications', folder_id=f.id ) }}">View Publications in this folder</a>
                                        <a class="dropdown-item" href="#" data-folder-id="{{f.id}}" onclick="folder_remove_publication()" data-scopus-publication-id="{{p.id}}">Remove</a>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if folders | reject('in', p.folders) | list | length > 0 %}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-expanded="false"><i class="fas fa-folder-plus"></i></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupAcknowledgement">
                                        {% for f in folders | reject('in', p.folders) | sort(attribute='name') %}
                                            <a class="dropdown-item" href="#" data-folder-id="{{f.id}}" onclick="folder_add_publication()" data-scopus-publication-id="{{p.id}}">Add to '{{f.name}}' folder</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.publications', form=search_form) }}

{% endblock %}

{% block js %}

<script>
    function folder_remove_publication() {
        var button = $(window.event.target);

        fetch("{{ url_for('ui.folder_remove_publication') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                folder_id: button.data('folder-id'),
                scopus_publication_id: button.data('scopus-publication-id'),
            }),
        })
        .then(standard_status_actions);
    }

    function folder_add_publication() {
        var button = $(window.event.target);

        fetch("{{ url_for('ui.folder_add_publication') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                folder_id: button.data('folder-id'),
                scopus_publication_id: button.data('scopus-publication-id'),
            }),
        })
        .then(standard_status_actions);
    }

    function publication_acknowledgement_validation(id, status) {
        var button = $(window.event.target);

        fetch("{{ url_for('ui.publication_acknowledgement_validation') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                id: button.data('id'),
                status: button.data('status'),
            }),
        })
        .then(standard_status_actions);
    }
</script>

{% endblock %}