{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}

{% block content %}
<section>
    <div class="page-header">
        <h1>{{ scopus_author.full_name }}</h1>
        <h3>Publications</h3>

        {{ render_search(
            search_form,
            'ui.publications',
            author_id=scopus_author.id,
            placeholder='enter search text - searches title and publication',
            buttons=[],
        ) }}

    </div>

    <ul class="list-group">
        {% for p in publications.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-2 col-md-1">
                        <div class="btn-group-vertical" role="group" aria-label="Basic example">
                            <a href="{{ p.href }}" class="btn btn-outline-primary" target="_blank" title="View on Scopus"><i class="fas fa-external-link-square-alt"></i></a>
                            <a href="http://doi.org/{{ p.doi }}"class="btn btn-outline-primary" target="_blank" title="View publication"><i class="fas fa-file-alt"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h3>
                                <span>{{p.title}}</span>
                            </h3>
                            <p><small class="text-muted">{{p.publication}} ({{p.publication_cover_date.year}})</small></p>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.publications', form=search_form, author_id=scopus_author.id) }}

{% endblock %}
