{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, pagination_summary %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}
{% from "ui/_publication_details.html" import render_publication_bar, render_publication_title, render_publication_authors, render_publication_details %}
{% from "ui/assets.html" import render_assets %}
{% from "lbrc_flask/modal_macros.html" import render_url_modal %}


{% block content %}

<section>
    <div class="page-header">
        <h1>Publications</h1>

        {{ render_search(
            search_form,
            'ui.publications',
            placeholder='enter search text - searches title, journal or DOI',
            buttons=[
                {
                    'text': 'Full Export',
                    'endpoint': 'ui.publication_full_export_xlsx',
                    'add_form_fields': True,
                },
                {
                    'text': 'Annual Report',
                    'endpoint': 'ui.publication_full_annual_report_xlsx',
                    'add_form_fields': True,
                },
                {
                    'text': 'PDF',
                    'endpoint': 'ui.publication_export_pdf',
                    'add_form_fields': True,
                    'disabled': publications.total > 10000,
                },
            ],
            checkboxes_on_searchbar=False
        ) }}
    </div>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="panel_list">
        {{ render_assets() }}

        {% for p in publications.items %}
            <li>
                {{ render_publication_bar(p, current_user, nihr_acknowledgements) }}
                {{ render_publication_title(p) }}
                {{ render_publication_authors(p, 'brc') }}
                {{ render_publication_details(p, 'funding') }}
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.publications', form=search_form) }}
{{ render_url_modal('source_details', 'Source Details') }}

{% endblock %}

{% block js %}

<script>
    document.querySelectorAll('.search-filters input, .search-filters select').forEach(function(f){
        f.addEventListener('change', onChangeHandler);
    })

    function onChangeHandler() {
        document.querySelectorAll('form a[href^="/publications/export"]').forEach(function(f){
            f.removeAttribute('href');
            f.classList.add("disabled");
            f.title = "disabled";
        })
    }    
</script>

{% endblock %}
