{% import "lbrc_flask/form_macros.html" as formhelper %}

<div>
    <dl class="row">
        <div class="col">
            <dt>Name</dt>
            <dd>{{source.display_name}}</dd>
        </div>
    </dl>
    <dl class="row">
        <div class="col">
            <dt>Catalog</dt>
            <dd>{{source.catalog}}</dd>
            </div>
        <div class="col">
            <dt>Catalog Identifier</dt>
            <dd>{{source.catalog_identifier}}</dd>
        </div>
    </dl>
    <dl class="row">
        <div class="col">
            <dt>Academic</dt>
            <dd>{{source.academic.displayz_name}}</dd>
        </div>
        <div class="col">
            <dt>Has Left BRC</dt>
            <dd>{{source.has_left_brc | yes_no}}</dd>
        </div>
    </dl>
    <dl class="row">
        <div class="col">
            <dt>ORCID</dt>
            <dd>{{source.orcid | blank_if_none}}</dd>
        </div>
    </dl>

    <table class="table table-sm">
        <colgroup>
            <col style="width:70%">
            <col style="width:30%">
        </colgroup>
        <thead>
            <tr>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ps in source.potential_academics %}
                <tr>
                    <td>{{ps.academic.full_name}}</td>
                    <td>
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <button id="btnPotentialSource_{{ps.id}}" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ ps.status }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnPotentialSource_{{ps.id}}">
                                    <a class="dropdown-item" href="Javascript://" onclick="amend_potential_source_assignment()" data-id="{{ps.id}}" data-academic-id="{{ps.academic.id}}" data-status="Unassigned">Unassigned</a>
                                    <a class="dropdown-item" href="Javascript://" onclick="amend_potential_source_assignment()" data-id="{{ps.id}}" data-academic-id="{{ps.academic.id}}" data-status="No Match">No Match</a>
                                    <a class="dropdown-item" href="Javascript://" onclick="amend_potential_source_assignment()" data-id="{{ps.id}}" data-academic-id="{{ps.academic.id}}" data-status="Match">Match</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <form id="edit" action="{{ url_for('ui.source_details', id=source.id, prev=previous_page) }}" method="POST" class="form panel-body" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <dl class="row">
                <div class="col">
                    <dt>Add to other academic</dt>
                    <dd>
                        {{ formhelper.render_field_actual(form.academic_id) }}
                    </dd>
                    <dd>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </dd>
                </div>
            </dl>
    </form>
</div>