{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, render_button_bar, pagination_summary, render_field %}
{% from "lbrc_flask/modal_macros.html" import render_modal %}
{% from "ui/_publications_folders.html" import render_publication_folders %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Validation</h1>

        {{ render_search(
            search_form,
            'ui.validation',
            placeholder='enter search text - searches title',
        ) }}

    </div>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="list-group">
        {% for p in publications.items %}
            <li class="list-group-item summary_details">
                <div class='row'>
                    <div class="col-7">
                        <h3>{{p.title}}</h3>
                    </div>
                    <div class="col-5">
                        <div class="btn-toolbar float-right">
                            <div class="btn-group mr-1 mb-1" role="group">
                                <a href="{{ p.href }}" class="btn btn-primary" target="_blank" title="View on Scopus"><i class="fas fa-external-link-square-alt"></i></a>
                            </div>

                            {% if p.doi %}
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a href="http://doi.org/{{ p.doi }}" class="btn btn-primary" target="_blank" title="View publication"><i class="fas fa-file-alt"></i></a>
                                </div>
                                <div class="btn-group mr-1 mb-1" role="group">
                                    <a href="https://google.com/search?q={{ p.doi }}" class="btn btn-primary" target="_blank" title="Google Publication"><i class="fab fa-google"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>{{p.author_list | blank_if_none}}</h4>
                        <dl class="row">
                            {% if p.journal %}
                                <dt class="col-auto">Journal</dt>
                                <dd class="col-auto">{{p.journal.name | blank_if_none | title_case}}</dd>
                            {% endif %}
                            <dd class="col-auto">({{p.publication_cover_date | date_format}}{{p.issue_volume}}{{p.pp}})</dd>
                            {% if p.subtype %}
                                <dt class="col-auto">Type</dt>
                                <dd class="col-auto">{{ p.subtype.description }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                NIHR Funding Acknowledgement
                                <div class="btn-toolbar float-right">
                                    <div class="btn-group mr-1 mb-1" role="group">
                                        <button id="btnGroupOpenAccess_{{p.id}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ p.nihr_acknowledgement.name | default_if_none('Unknown') }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupOpenAccess_{{p.id}}">
                                            <a class="dropdown-item" href="Javascript://" onclick="nihr_acknowledgement()" data-id="{{p.id}}" data-nihr_acknowledgement_id="-1">Unknown</a>
                                            {% for n in nihr_acknowledgements %}
                                                <a class="dropdown-item" href="Javascript://" onclick="nihr_acknowledgement()" data-id="{{p.id}}" data-nihr_acknowledgement_id="{{ n.id }}">{{ n.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <dl>
                                    {% if p.sponsors | length > 0 %}
                                        <dt>Funding Sponsors</dt>
                                        {% for s in p.sponsors %}
                                            <dd>{{ s.name }}</dd>
                                        {% endfor %}
                                    {% endif %}

                                    {% if p.funding_text %}
                                        <dt>Funding Text</dt>
                                        <dd>{{ p.funding_text }}</dd>
                                    {% endif%}
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Open Access
                                <div class="btn-toolbar float-right">
                                    <div class="btn-group mr-1 mb-1" role="group">
                                        <button id="btnGroupOpenAccess_{{p.id}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ p.nihr_funded_open_access.name | default_if_none('Unknown') }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupOpenAccess_{{p.id}}">
                                            <a class="dropdown-item" href="Javascript://" onclick="nihr_funded_open_access()" data-id="{{p.id}}" data-nihr_funded_open_access_id="-1">Unknown</a>
                                            {% for n in nihr_funded_open_accesses %}
                                                <a class="dropdown-item" href="Javascript://" onclick="nihr_funded_open_access()" data-id="{{p.id}}" data-nihr_funded_open_access_id="{{ n.id }}">{{ n.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <dl>
                                    <dt>Open Access</dt>
                                    {% if p.is_open_access %}
                                        <dd><i class="fas fa-check"></i></dd>
                                    {% else %}
                                        <dd><i class="fas fa-question"></i></dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.validation', form=search_form) }}

{% endblock %}

{% block js %}

<script>
    async function nihr_acknowledgement() {
        var button = $(window.event.target);

        let response = await fetch("{{ url_for('ui.publication_nihr_acknowledgement') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                id: button.data('id'),
                nihr_acknowledgement_id: button.data('nihr_acknowledgement_id'),
            }),
        })
        let data = await response.json();
        document.getElementById(`btnGroupAcknowledgement_${button.data('id')}`).innerHTML = data['status'];
    }

    async function nihr_funded_open_access() {
        var button = $(window.event.target);

        let response = await fetch("{{ url_for('ui.publication_nihr_funded_open_access') }}", {
            method: 'post',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify({
                id: button.data('id'),
                nihr_funded_open_access_id: button.data('nihr_funded_open_access_id'),
            }),
        })
        let data = await response.json();

        console.log(data);
        document.getElementById(`btnGroupOpenAccess_${button.data('id')}`).innerHTML = data['status'];
    }
</script>

{% endblock %}