{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination, pagination_summary %}
{% from "ui/_publication_details.html" import render_publication_resources, render_publication_bar, render_publication_title, render_publication_authors, render_publication_details %}
{% from "lbrc_flask/modal_macros.html" import render_url_modal %}
{% from "ui/assets.html" import render_assets %}


{% block content %}
<section>
    <div class="page-header">
        <h1>Validation</h1>
    </div>

    {{ pagination_summary(publications, 'publication') }}

    <ul class="publications">
        {{ render_assets() }}

        {% for p in publications.items %}
            <li>
                {{ render_publication_bar(p, current_user, nihr_acknowledgements) }}
                <div>
                    {{ render_publication_title(p) }}
                    {{ render_publication_authors(p, 'brc') }}
                    {{ render_publication_details(p, 'funding') }}    
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(publications, 'ui.validation', form=search_form) }}
{{ render_url_modal('source_details', 'Source Details') }}

{% endblock %}
