{% macro render_journal(journal, current_user) %}
<header id="journal_{{journal.id}}" hx-target="#journal_{{journal.id}}" class="flex_two_left_grow" hx-swap="outerHTML">
    <h3>{{journal.name}}</h3>
    <div>
        {% if journal.preprint %}
            {% set pp_cls = 'preprint' %}
            {% set pp_name = 'Preprint' %}
        {% else %}
            {% set pp_cls = 'not_preprint' %}
            {% set pp_name = 'Not Preprint' %}
        {% endif %}

        <div class="dropdown">
            <a href="javascript:;" class="{{ pp_cls }}" role="button">{{ pp_name }}</a>
            {% if current_user.has_role('validator') %}
                <ul>
                    <li><a href="javascript:;" hx-post="{{url_for('ui.journal_update_preprint', id=journal.id, is_preprint=1)}}">Preprint</a></li>
                    <li><a href="javascript:;" hx-post="{{url_for('ui.journal_update_preprint', id=journal.id, is_preprint=0)}}">Not Preprint</a></li>
                </ul>
            {% endif %}
        </div>        
    </div>
</header>
{% endmacro %}
