{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}
{% from "ui/journal/_details.html" import render_journal %}


{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Journals</h2>

        <form method="GET" action="{{ url_for('ui.journals') }}">
            <fieldset>
                {{ search_form.hidden_tag() }}
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(journals, 'journal') }}

    <ul class="panel_list">
        {% for j in journals.items %}
            <li>
                {{ render_journal(j, current_user) }}
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(journals, 'ui.journals', form=search_form) }}

{% endblock %}
