{% extends "lbrc/modal.html" %}
{% from "lbrc/form_macros.html" import render_modal_button_bar, render_form_fields, render_field %}

{% block content %}
<div id="add_academic_modal">
    <h2>Add Academic</h2>
    <p>
        This page searches Scopus for academics affiliated to an organisation in Leicester with a name or ORCID that matches the text entered below.
        The search is not precise, so you will need to validate the author carefully.
    </p>

    <form hx-get="{{ url_for('ui.add_author_search_results') }}" hx-trigger="submit, refreshSearch from:body" hx-target="#add_academic_results" hx-swap="innerHTML">
        <fieldset>
            <div class="field SearchField">
                <div class="field_with_buttons">
                    {{ search_form.search() }}
                    <a href="?">Cancel</a>
                    <button type="submit">Search</button>
                </div>
            </div>
            {{ render_field(search_form.show_non_local) }}
        </fieldset>
    </form>

    <div id="add_academic_results"></div>
</div>
{% endblock %}