{% extends "ui/menu_page.html" %}
{% from "ui/assets.html" import render_assets %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field_and_submit %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Academics</h2>

        <form action="{{ url_for('ui.index') }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}

                <div class="button_bar">
                    <button type="submit" formaction="{{ url_for('ui.academics_export_csv') }}" formmethod="get">Download</button>

                    {% if current_user.has_role('editor') %}
                        <a hx-get="{{ url_for('ui.add_author_search') }}" hx-target="body" hx-swap="beforeend" role="button">Add&nbsp;Author</a>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(academics, 'academic') }}
    {{ render_assets() }}

    <ul class="panel_list">
        {% for a in academics.items %}
            <li>
                <header class="flex_three_middle_grow">
                    <nav class="link_list">
                        <a class="academic_orcid {% if not a.orcid %}disabled{% endif %}" href="{{a.orcid_link}}" target="_blank">ORCID</a>
                        <a class="academic_google_scholar {% if not a.google_scholar_id %}disabled{% endif %}" href="{{a.google_scholar_link}}" target="_blank">Google Scholar</a>
                        <a class="academic_pubmed {% if not a.orcid %}disabled{% endif %}" href="{{a.pubmed_link}}" target="_blank">Pubmed</a>
                        {% if a.has_left_brc or a.left_brc_date %}
                            <span class="pill error">Left BRC {{a.left_brc_date | date_format}}</span>
                        {% endif %}
                    </nav>
                    <div class="grid_stacked_center">
                        <h3>{{a.full_name}}</h3>
                        <h4>{{a.theme_summary}}</h4>
                        <a href="{{ url_for('ui.publications', academic_id=a.id ) }}">
                            <i class="far fa-newspaper"></i>
                            {{a.publication_count}} Combined Publications
                        </a>
                    </div>
                    <div class="grid_stack_center">
                        <nav class="link_list">
                            {% if current_user.has_role('editor') %}
                                {% set cls = 'user_cog' %}
                                {% if a.has_new_potential_sources %}
                                    {% set cls = 'user_add text-danger' %}
                                {% endif %}
    
                                <a title="Edit Sources for {{ a.full_name }}" hx-get="{{ url_for('ui.academics_potential_sources', id=a.id) }}" hx-target="body" hx-swap="beforeend" href="javascript:;" class="icon {{cls}}"></a>
                                <a title="Edit academic {{ a.full_name }}" hx-get="{{ url_for('ui.academic_edit', id=a.id) }}" hx-target="body" hx-swap="beforeend" href="javascript:;" class="icon edit"></a>
                                <a title="Delete academic {{ a.full_name }}" hx-post="{{ url_for('ui.delete_academic', id=a.id) }}" hx-confirm="Are you sure you wish to delete '{{ a.full_name }}'?" href="javascript:;" class="icon delete"></a>
                            {% endif %}
                            {% if current_user.is_admin %}
                                <a title="Update academic {{ a.full_name }}" hx-post="{{ url_for('ui.update_academic', id=a.id) }}" hx-confirm="Are you sure you wish to update '{{ a.full_name }}'?" href="javascript:;" class="icon redo"></a>
                            {% endif %}
                        </nav>
                    </div>
                </header>

                <table class="source_table">
                    <colgroup>
                        <col style="width:40%">
                        <col style="width:15%;">
                        <col style="width:15%;">
                        <col style="width:15%;">
                        <col style="width:15%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Publications</th>
                            <th>Citations</th>
                            <th>h-index</th>
                            <th>Catalog</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for au in a.sources_by_h_index %}
                            <tr>
                                <td>
                                    <div class="flex_two_left_grow">
                                        <h3>
                                            {% if current_user.has_role('editor') %}
                                                <a class="icon delete"
                                                    title="Delete author {{ au.display_name }}"
                                                    hx-post="{{ url_for('ui.delete_author', id=au.id) }}"
                                                    hx-confirm="Are you sure you wish to delete '{{ au.full_name }}'?"
                                                    href="javascript:;"></a>
                                            {% endif %}
                                            {{au.display_name}}
                                        </h3>                                        
                                        <div class="orcid">
                                            {% if au.orcid %}
                                                <a href="{{a.orcid_link}}" target="_blank">{{au.orcid}}</a>
                                                {% if au.orcid_mismatch %}
                                                    &nbsp;<i class="fas fa-exclamation-triangle text-danger" title="ORCID Mismatch with Sources"></i>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for a in au.affiliations %}
                                        <h5>{{a.name}}</h5>
                                    {% endfor %}
                                </td>
                                <td><a href="{{ url_for('ui.publications', author_id=au.id ) }}">{{au.publication_count}}</a></td>
                                <td>{{au.citation_count | blank_if_none}}</td>
                                <td>{{au.h_index | blank_if_none}}</td>
                                <td>
                                    <div>
                                        <a href="{{ au.author_url }}" target="_blank" title="View on {{ au.catalog | title_case}} ">
                                            {% if au.catalog == 'scopus' %}
                                                <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#scopus_logo" /></svg>
                                            {% elif au.catalog == 'open alex' %}
                                                <svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="1.5rem" height="1.5rem"><use href="#open_alex_logo" /></svg>
                                            {% endif %}
                                            {{au.catalog | title}}
                                        </a>
                                    </div>
                                    {% if au.error %}
                                        <div>
                                            <i class="fas fa-exclamation-triangle text-danger"></i>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <i class="fas fa-history"></i>&nbsp;{{ au.last_fetched_datetime | datetime_humanize }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(academics, 'ui.index', form=search_form) }}

{% endblock %}
