{% extends "lbrc/modal.html" %}
{% from "lbrc/form_macros.html" import render_form_fields %}

{% block content %}
<h2>Add Academic to Group {{group.name}}</h2>

<form>
    <fieldset>
        <input
            type="search"
            placeholder="Search Academics"
            name="search_string"
            id="search_string"
            hx-trigger="input changed delay:500ms"
            hx-get="{{ url_for('ui.group_acadmic_search_results', group_id=group.id) }}"
            hx-target="#search_results" >
            </fieldset>
</form>

<div id="search_results" hx-get="{{ url_for('ui.group_acadmic_search_results', group_id=group.id ) }}" hx-trigger="load"></div>

{% endblock %}


